<mat-card>
    <mat-card-title>LogIn</mat-card-title>
    <div class="example-container">
      <form class="example-form">
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" placeholder="Ex. pat@example.com">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="pwd" placeholder="Provide Your Password">
            </mat-form-field>
            <br>
            <input type="submit" class="login" value="LogIn">
      </form>
    </div>
</mat-card>
