.asdf{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    height: 55px;
    background-color: grey;
}
.header h2{
    text-align: center;
}
mat-sidenav-content .ng-star-inserted{
    align-self: center;
}
.menubutton
{
    height: 55px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: lavenderblush;
}
mat-sidenav-container{
    flex: 1;
    display:flex;
    flex-direction: row;
}
mat-sidenav{
    width: 150px;
    background-color: beige;
}
mat-sidenav-container mat-sidenav ul li a {
    padding: 12px 13px 9px 12px;
    font-size: 17px;
    display: block;
    text-decoration: none;
}
mat-sidenav a:active{
    color: cornflowerblue;;
    background-color: aliceblue;
}
mat-sidenav-content
{
    flex: 1;
    display: flex;
    justify-content: center;
}
.footer{
    height: 55px;
    background-color: gray;
}
.footer h2{
    text-align: center;
}